/**********************************
 * VARIABLES
 */

/**********************************
 * MIXIN
 */

/**********************************
 * COMMON
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #ffffff;
  color: #002d73;
  /* font-size: 12px; */
}

a {
  text-decoration: none;
  color: #002d73;
  transition: all 0.2s ease;
}

ul {
  list-style: none;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header .logo img {
  height: 100%;
}

header ul.nav {
  display: flex;
}

header ul.nav li {
  padding: 15px 10px;
}

header ul.nav li:hover {
  background-color: #B3E5FC;
}

footer {
  display: flex;
  width: 1140px;
  height: 500px;
  margin: 100px auto;
}

footer .footer_col {
  width: 25%;
  height: 100%;
}

footer .footer_col a {
  color: #808080;
}

.txt_nav {
  font-family: "Teko", sans-serif;
  font-size: 24px;
  font-weight: 300;
}

.txt_footer_link {
  font-size: 18px;
  font-weight: 300;
}

.txt_3 {
  font-size: 0.8em;
  font-weight: 300;
}

/**********************************
 * HOME
 */

main .jumbotron {
  height: 700px;
  background-image: url(/images/molisana-home.jpg?cb7db241726fb646d7e1c8553429c07c);
  background-position: center center;
  background-size: 1500px;
}

main .jumbotron img {
  width: 100%;
}

/**********************************
 * PRODUCTS
 */

/**********************************
 * NEWS
 */

