/**********************************
 * COMMON
 */

// % PROLEGOMENA % 
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: 'Open Sans', sans-serif;
	// font-family: 'Teko', sans-serif;
	background-color: $white;
	color: $blue;
	font-size: 14px;
	/* font-size: 12px; */
}
a {
	text-decoration: none;
	color: $blue;
	transition: all .2s ease;
	// &:hover {
	// 	color: $green;
	// }
}

// % HEADER % 
header {
	@include flex-col-co;
	padding: 10px 0;
	.logo {
		img {
			height: 100%;
		}
	}
	ul.nav {
		@include flex-row;
		list-style: none;
		// border: 1px dashed red;
		li {
			padding: 0 10px;
		}
	}
}


// % TEXTS % 
.txt_nav {
	font-family: 'Teko', sans-serif;
	font-size: 24px;
	font-weight: 300;
}
.txt_2 {
	font-size: 0.9em;
	font-weight: 400;
	line-height: 1.4em;
}
.txt_3 {
	font-size: 0.8em;
	font-weight: 300;
}
