/**********************************
 * COMMON
 */

// % PROLEGOMENA % 
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: 'Open Sans', sans-serif;
	// font-family: 'Teko', sans-serif;
	// font-family: 'Playfair Display', serif;
	// font-family: 'Raleway', sans-serif;
	font-size: 14px;
	background-color: $white;
	color: $blue;
}
a {
	text-decoration: none;
	color: $blue;
}
ul {
	list-style: none;
}

// % HEADER % 
header {
	@include flex-col-co;
	.logo {
		img {
			height: 100%;
		}
	}
	ul.nav {
		@include flex-row;
		li {
			line-height: 50px;
			&.active, &:hover {
				background-color: $lightblue;
			}
			a {
				padding: 10px;
			}
		}
	}
}

// % FOOTER % 
footer {
	@include flex-row;
	width: 1140px;
	height: 500px;
	margin: 100px auto;
	// border: 1px dashed red;
	.footer_col {
		width: 25%;
		height: 100%;
		// border: 1px dashed green;
		ul {
			margin-bottom: 20px;
			a {
				color: $grey;
			}
		}
	}
}

// % TEXTS % 
.txt_nav {
	font-family: 'Teko', sans-serif;
	font-size: 24px;
	font-weight: 300;
}
.txt_product_grid {
	font-family: 'Playfair Display', serif;
	font-size: 22px;
	line-height: 24px;
	font-weight: 400;
}
.txt_footer_link {
	font-size: 18px;
	font-weight: 300;
}
.txt_footer_title {
	font-family: 'Teko', sans-serif;
	font-size: 26px;
	line-height: 34px;
	font-weight: 600;
	text-transform: uppercase;
}
.txt_footer_info {
	font-size: 11px;
	line-height: 18px;
	font-weight: 400;
}

