/**********************************
 * HOME
 */
 
 main {
	 .jumbotron {
		 height: 700px;
		 background-image: url('../img/molisana-home.jpg'); // sono in app.css, immagini in /public/
		 background-position: center center;
		 background-size: 1500px;
	 }
 }